/* @font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/RobotoCondensed-Bold.ttf') format("truetype");
} */

/* {
    font-family: 'Roboto' !important;
} */

/* .wallpaper {
    background-color: black !important;
}

.line-divider {
    background: none !important;
}

.simple-stat-card {
    background: none !important;
    border: 0 !important;
}
.simple-stat-value {
    color: #10FE4C !important;
}
.simple-stat-label {
    color: #10FE4C !important;
}

.sheet-page {
    border: 10px #10FE4C double !important
}
.sheet-column {
    background-color: black !important;
    border: 0 !important;
    box-shadow: none !important;
}

.sheet-tab-button {
    color: #10FE4C !important;
}

.sheet-tab-button-active {
    border-radius: 0px !important;
    border-bottom: 1px #10FE4C dashed !important;
    background: none !important;
    color: #10FE4C !important;
}

.stat-card {
    border-radius: 0px !important;
    border: none !important;
    border-top: 1px #10FE4C dashed !important;;
    background: rgba(0, 0, 0, 0) !important;
    .stat-label {
        color: #10FE4C !important;
    }
    .stat-value {
        color: #10FE4C !important;
    }
}

.fraction-bar-label {
    color: #10FE4C !important;
}

.sheet-section-title {
    color: #10FE4C !important;
}

.feature-card {
    border: 0  !important;
    border-radius: 0  !important;
    background: rgba(0, 0, 0, 0) !important;
    border-top: 1px #10FE4C dashed !important;

    .card-header {
        .card-title {
            color: #10FE4C !important;
        }
    }
}

.card-text {
    color: #10FE4C !important;
}

.fraction-bar-background {
    border-radius: 0px !important;
    border: 1px #10FE4C dashed !important;
}

.fraction-bar-visual-value {
    border-radius: 0px !important;
    border: 1px #10FE4C dashed !important;
}

.character-name {
    color: #10FE4C !important;
} */