// Aqui estão as alterações a elementos do site original

.universal-sheet-content
    margin-top: 0 !important

.back-button
    position: static !important
    top: 0 !important
    left: 0 !important

.header-buttons-container
    display: flex !important
    flex-flow: column !important
    width: fit-content !important

.change-sheet-mode-button
    width: 52px !important
    height: 52px !important
    border: 1px solid #ffffff33 !important

.sheet-column
    height: 100% !important

.sheet-tab
    height: 100% !important