/* @font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/RobotoCondensed-Bold.ttf') format("truetype");
} */

/* {
    font-family: 'Roboto';
} */

.wallpaper {
    background-color: white;
}

.line-divider {
    background: none;
}

.simple-stat-card {
    corner-shape: bevel;
    background-color: black;
    border: 0;
}

.sheet-column {
    background-color: white;
    border: 0;
    corner-shape: bevel;
    box-shadow: none;
}

.sheet-tab-button {
    color: black;
}

.sheet-tab-button-active {
    corner-shape: bevel;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.stat-card {
    corner-shape: bevel;
    border-radius: 10px;
    border: 1px black dashed;
    background: rgba(0, 0, 0, 0);
    .stat-label {
        color: black;
    }
    .stat-value {
        color: black;
    }
}

.fraction-bar-label {
    color: black;
}

.sheet-section-title {
    color: black;
}

.feature-card {
    border: 0 ;
    border-radius: 0 ;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px black dashed;

    .card-header {
        .card-title {
            color: black;
        }
    }
}

.card-text {
    color: black;
}

.arrow {
    background-color: black;
    padding: 4px;
    corner-shape: bevel;
    border-radius: 6px;
}

.fraction-bar-background {
    corner-shape: bevel;
    border-radius: 6px;
}

.fraction-bar-visual-value {
    corner-shape: bevel;
    border-radius: 6px;
}

.character-name {
    color: black;
}